@font-face {
    font-family: 'JetBrains Mono';
    src: url(./JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
  }
  /* root {
    --vscode-foreground: #cccccc;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-errorForeground: #f85149;
    --vscode-descriptionForeground: #8b949e;
    --vscode-icon-foreground: #cccccc;
    --vscode-focusBorder: #0078d4;
    --vscode-textSeparator-foreground: #21262d;
    --vscode-textLink-foreground: #40a6ff;
    --vscode-textLink-activeForeground: #40a6ff;
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textBlockQuote-background: #010409;
    --vscode-textBlockQuote-border: rgba(255, 255, 255, 0.08);
    --vscode-textCodeBlock-background: rgba(110, 118, 129, 0.4);
  } */
.main {
    padding: 10px;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    /* background: black; */
}
.tools{
    display: flex;
    justify-content: flex-start;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    /* align-items: center; */
}
.tools button, .tools input{
    padding: 2px;
    height: 30px;
    width: 40px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--vscode-foreground);
}

.shape-btn.active{
    background-color: var(--vscode-disabledForeground);
}

.alignBtn{
  background-color:var(--vscode-disabledForeground)!important;
}
.alignBtn.active{
  background-color: var(--vscode-foreground)!important;
}
.title{
    font-family: 'JetBrains Mono';
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-bottom: 0.6rem;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}
.box {
    -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    height: 30px;
    width: 40px;
    background:#E0E6E5;
    margin-right: 5px;

   }

   .thickness{
    border: 1px solid black;
    text-align: left;
    background-color: gray;
   }

   
