@font-face {
    font-family: 'JetBrains Mono';
    src: url(./JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
  }
.main {
    padding: 10px;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    /* background: black; */
}
.tools{
    display: flex;
    justify-content: flex-start;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    /* align-items: center; */
}
.tools button, .tools input{
    padding: 2px;
    height: 30px;
    width: 40px;
    margin-right: 5px;
    font-size: 18px;
}
.shape-btn.active{
    background-color: rgb(146, 143, 143);
}

.title{
    font-family: 'JetBrains Mono';
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-bottom: 0.6rem;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}