.main {
    padding: 10px;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    /* background: black; */
}
.tools{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.tools button, .tools input{
    padding: 2px;
    height: 30px;
    width: 40px;
    margin-right: 5px;
    font-size: 18px;
}
.shape-btn.active{
    background-color: rgb(146, 143, 143);
}

.box {
    -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    height: 30px;
    width: 40px;
    background:#E0E6E5;
    margin-right: 5px;

   }